.nav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}
.site-title{
    font-size: 2rem;
}
.nav li.active {
    background-color: #555;
}
.nav li:hover {
    background-color: #777;
}

.badge {
    position: relative;
}

.badge::after {
    content: attr(data-count);
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
    background: #FFF;
    color: blue;
    border-radius: 50%;
    padding: 5px;
}